@charset "UTF-8";
@font-face {
  font-family: "Lato";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Lato/Lato-Black.eot");
  src: url("../fonts/Lato/Lato-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Black.woff") format("woff"), url("../fonts/Lato/Lato-Black.ttf") format("truetype"); }

@font-face {
  font-family: "Lato-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Lato/Lato-Regular.eot");
  src: url("../fonts/Lato/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Regular.woff") format("woff"), url("../fonts/Lato/Lato-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Lato-Bold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Lato/Lato-Bold.eot");
  src: url("../fonts/Lato/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Bold.woff") format("woff"), url("../fonts/Lato/Lato-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "awesome-regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/fontawesome/fa-regular-400.eot");
  src: url("../fonts/fontawesome/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome/fa-regular-400.woff") format("woff"), url("../fonts/fontawesome/fa-regular-400.ttf") format("truetype"); }

@font-face {
  font-family: "awesome-brands";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/fontawesome/fa-brands-400.eot");
  src: url("../fonts/fontawesome/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome/fa-brands-400.woff") format("woff"), url("../fonts/fontawesome/fa-brands-400.ttf") format("truetype"); }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Lato";
  overflow-x: hidden;
  opacity: 1; }

header {
  display: flex;
  justify-content: space-between;
  flex-direction: column; }
  header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .navbar ul {
      list-style-type: none;
      margin-bottom: 0px; }
      header .navbar ul li {
        color: #45413e;
        display: inline;
        margin-left: 10px; }

p {
  font-family: Lato-Regular; }

.logo {
  display: flex; }

.logo-text {
  margin-left: 10px; }
  .logo-text h2 {
    margin-bottom: 0;
    padding: 0;
    letter-spacing: 2; }
  .logo-text h5 {
    color: #84bc22;
    margin-bottom: 0; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: 100%; }

/*nav
	ul

		li
			color: #45413e*/
.drop {
  height: 100%;
  position: relative;
  z-index: 2;
  /*&:hover
		color: white*/ }

.drop-service {
  position: absolute;
  top: -50px;
  height: 100px;
  width: 115%;
  background-color: #262a32;
  z-index: -1; }

.drop:after {
  content: "▼";
  color: #d1d5d8;
  padding-left: 10px; }

.relat {
  position: relative; }

.drop-navigation {
  padding-top: 20px;
  position: absolute;
  top: 80px;
  width: 100%;
  height: 300px;
  background-color: #262a32;
  z-index: 1;
  color: white; }
  .drop-navigation h6 {
    margin-bottom: 0px; }
  .drop-navigation ul {
    list-style-type: none;
    padding-left: 0px;
    color: white;
    font-family: Lato-Regular;
    padding-top: 10px;
    user-select: none; }
    .drop-navigation ul li {
      cursor: pointer; }
    .drop-navigation ul li:hover {
      opacity: 0.75; }

.control {
  background-color: grey;
  background-image: url("../pictures/bags.png");
  color: white;
  padding-left: 50px;
  padding-top: 70px;
  height: 500px; }
  .control h1 {
    width: 70%; }
  .control p {
    width: 45%;
    padding-top: 70px;
    font-family: Lato-Regular;
    font-size: 12px; }

.control-button {
  margin-top: 50px;
  font-family: Lato-Regular;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center; }

.slick-dots {
  bottom: 10%; }
  .slick-dots li button:before {
    color: #a1b3bb;
    font-size: 8px; }

.sales {
  height: 500px;
  text-align: center;
  box-sizing: border-box; }
  .sales h5, .sales p {
    font-family: Lato-Regular; }
  .sales h5 {
    padding: 20px 20px 20px 0; }
  .sales p {
    padding: 20px 0 20px 0; }

.summer-sales {
  color: white;
  height: 300px;
  background-color: #84bc22;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  .summer-sales h2 {
    font-size: 68px; }
  .summer-sales h3 {
    font-family: Lato-Regular;
    text-align: center; }

.darkblue {
  background-color: #262a32; }

.popular {
  display: flex;
  color: white;
  padding: 80px 0 20px 0; }
  .popular h3 {
    padding: 0px 50px;
    white-space: nowrap; }
  .popular hr {
    background-color: #3c4047;
    color: #3c4047;
    width: 100%; }

.item {
  box-sizing: border-box;
  /*height: 300px*/
  margin: 20px 0px;
  font-family: Lato-Regular;
  text-align: center;
  border-radius: 5px 5px 0 0; }

.item-text {
  height: 120px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column-reverse; }

.item-image {
  width: 100%; }

.load {
  padding-top: 50px;
  padding-bottom: 70px; }

.button {
  width: 100%;
  color: white;
  height: 50px;
  border: 2px solid white;
  border-radius: 25px;
  text-align: center;
  line-height: 50px;
  box-sizing: border-box; }

.banner {
  width: 100%;
  position: relative; }
  .banner h2, .banner p {
    color: white;
    text-align: center; }

.banner-text {
  width: 500px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: calc(50% - 250px);
  transform: translateY(-50%); }
  .banner-text h2 {
    font-size: 48px; }
  .banner-text p {
    width: auto;
    padding: 20px 40px 0 40px; }

.banner-image {
  width: 100%; }

.product {
  padding-bottom: 50px; }

.product-text {
  color: white;
  text-align: center;
  padding-top: 40px; }

.slick-box {
  position: relative; }

.product-line {
  height: 20px;
  margin: 0 0 30px 0;
  line-height: 30px;
  display: flex;
  color: white; }

.line-center {
  height: 15px;
  border-bottom: 1px solid white;
  flex-grow: 1;
  margin: 0 20px; }

.prevArrow, .nextArrow {
  width: 30px;
  height: 30px;
  background-color: #2d343a;
  position: absolute;
  top: -50px;
  cursor: pointer;
  font-size: 20px;
  line-height: 25px;
  border-radius: 3px; }

.prevArrow.slick-arrow::before {
  content: '\2039 ';
  position: relative;
  left: 10px;
  color: white; }

.nextArrow.slick-arrow::before {
  content: '\203A ';
  position: relative;
  left: 12px;
  color: white; }

.prevArrow {
  left: 25%; }

.nextArrow {
  right: 25%; }

.product-item {
  height: 300px;
  background-color: white;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  text-align: center; }
  .product-item h6 {
    padding-top: 20px; }
  .product-item p {
    color: #a5ce5d; }

.darkgrey {
  background-color: #45413e; }

.kind {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .kind h5 {
    color: white; }
  .kind p {
    color: #7d7a77; }

.kind-descr {
  width: 60%; }

footer {
  padding-top: 50px;
  padding-bottom: 30px; }
  footer p {
    line-height: 20px; }
  footer ul {
    list-style-type: none;
    padding-left: 0px;
    color: #9f9d9c;
    font-family: Lato-Regular;
    padding-top: 20px;
    user-select: none; }
    footer ul li {
      cursor: pointer; }
    footer ul li:hover {
      color: #45413e; }

address p {
  font-size: 14px; }

.visible {
  display: block; }

.unvisible {
  display: none; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
